#root {
  margin: 0 auto;
  text-align: center;
  background-color: #f6f6f7;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mantine-Tabs-list::before {
  display: none !important;
}